
@font-face { 
font-family: 'UBUNTU'; 
src: url('fontsubuntu/UBUNTU.eot') format('eot'), 
url('fontsubuntu/UBUNTU.woff') format('woff'), 
url('fontsubuntu/UBUNTU.ttf') format('truetype'), 
url('fontsubuntu/UBUNTU.svg') format('svg'); 
}

@font-face { 
font-family: 'Playfair_Display'; 
src: url('FONTSPLAYFAIR/Playfair_Display.eot') format('eot'), 
url('FONTSPLAYFAIR/Playfair_Display.woff') format('woff'), 
url('FONTSPLAYFAIR/Playfair_Display.ttf') format('truetype'), 
url('FONTSPLAYFAIR/Playfair_Display.svg') format('svg'); 
}

html{
  font-size: 100%;
}

@media screen and (min-width: 50em){
  html { 
  font-size: 1vw;
  }
}

body{
  color: rgb(98 98 98);
  font-family: 'Playfair_Display'; 
}

img,a, #image{
  pointer-events: none;
}

h1{
  font-size: 2.5rem;
}

#header{
  text-align: center;
  font-family: 'UBUNTU';
}

#navbar{
  text-align: right;
  font-family: 'Playfair_Display'; 
}
 
.nav-link{  
  font-family: 'Playfair_Display'; 
  margin-right: -30px;
}

.nav-link:hover {
  color: #000;
}

#logo{
  margin-right: 27rem;
  pointer-events: none;
}

#container1{
  display: flex; 
  text-align: center;
}

#container2{
  display: flex; 
  text-align: center;
}

#footer{
  background-color: rgb(240 240 240);
  text-align: center;
  padding: 80px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

#main-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  text-align: center;
}

#intro{
  margin-left:3vw;
  margin-right: 8vw;
}

.caption{
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: left; 
  font-weight:bold;
  font-size: 1.7rem;
}

.text{
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: justify;
}

.title{
  font-size: 1rem;
  margin-left: 3rem;
  text-align: left;
  padding-top: 10px;
  color: rgb(199 193 182);
}

.title1{
  text-align: left; 
  margin-right: 4.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(199 193 182);
}

#email{
  border: none;
  border-bottom : 2px solid black;
  width: 15rem;
  min-width: 15rem;
  background-color: rgb(240 240 240);
  text-align: left;
  margin-left: 1rem;
}

#button{
  border:none;
  font-size: 1rem;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.text-photo{
  width: 100%;
  height: auto;
  max-width: 420px;
  max-height: 280px;
}